<ion-view class="tinder-cards-view">
    <ion-nav-title>
        <span class="headerTitle">Dion Palace</span>
    </ion-nav-title>
    <ion-content scroll="false">
        <td-cards>
            <td-card id="td-card" ng-repeat="card in cards"
            on-transition-left="transitionLeft(card)"
            on-transition-right="transitionRight(card)"
            on-transition-out="transitionOut(card)"
            on-destroy="cardDestroyed($index)"
            on-swipe-left="cardSwipedLeft($index)"
            on-swipe-right="cardSwipedRight($index)"
            on-partial-swipe="cardPartialSwipe(amt)">
                <div class="no-text overlayBox">
                    <div class="noBox boxed"></div>
                </div>
                <div class="yes-text overlayBox">
                    <div class="yesBox boxed"></div>
                </div>                      
                <div class="image">                 
                    <img ng-src="{{card.image}}">                   
                </div>          
                <div class="tiderCardTitlePadding">
                    <strong class="tiderCardHeaderColor">{{card.name}}</strong>
                </div>
            </td-card>
        </td-cards>
    </ion-content>
</ion-view>