<ion-view class="post-view">
    <ion-nav-title>
        <span class="headerTitle">{{roomData.name}}</span>
    </ion-nav-title>
    <ion-content>
        <ion-slide-box show-pager="true">
            <ion-slide ng-repeat="fotograph in roomData.images">
                <div class="item item-image">
                    <img ng-src="{{fotograph}}">
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="item item-text-wrap">
            <p class="post-author">
                {{roomData.text}}
            </p>
        </div>
        <div class="post-heading item item-divider listDivider">
            Χωρητικότητα
        </div>
        <div class="item item-text-wrap">
            <p class="post-author">
                {{roomData.people}}
            </p>
        </div>  
        <div class="post-heading item item-divider listDivider">
            Ανέσεις & Υπηρεσίες
        </div>       
        <div class="item item-text-wrap item-icon-left" ng-repeat="advantage in roomData.advantages">
            <i class="icon ion-android-checkbox-outline tiderCardHeaderColor"></i>
            <p class="post-author">
                {{advantage}}
            </p>
        </div>         
        <div class="post-heading item item-divider listDivider">
            Απευθείας υπηρεσίες
        </div>             
        <a href="tel:2352061431" class="item icon-right">
            <i class="icon ion-ios-telephone tiderCardHeaderColor"></i>
            Τηλέφωνο
        </a>
        <!--a href="#" onclick="window.open('https://dionpalaceluxuryspa.reserve-online.net/', '_blank', 'location=yes');" class="item icon-right"-->
        <a href="#" onclick="alert('Η λειτουργία κρατήσεων δεν είναι διαθέσιμη στη demo εφαρμογή. Σε κάθε  app προσαρμόζεται το σύστημα e-booking του ξενοδοχείου')" class="item icon-right">    
            <i class="icon ion-android-checkbox tiderCardHeaderColor"></i>
            Κράτηση
        </a>          
    </ion-content>
  
</ion-view>
