<ion-view class="wordpress-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span class="headerTitle">Δραστηριότητες</span>
  </ion-nav-title>
  <ion-content>

      <div class="list layouts-functionalities">
        <a class="item item-thumbnail-left item-icon-right" ui-sref="app.activity({activityId:activity.id})" ng-repeat="activity in activitties">
            <img src="img/services/{{activity.thump}}.jpg">
            <h2>{{activity.type}}</h2>
            <p>{{activity.header}}</p>
            <i class="icon ion-arrow-right-c tiderCardHeaderColor"></i>
        </a>
    </div>

  </ion-content>
</ion-view>
