<ion-view>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title class="headerTitle">
        <span>Δωμάτια</span>
    </ion-nav-title>
    <ion-content>
        <div class="list layouts-functionalities">
            <a class="item item-thumbnail-left item-icon-right" ui-sref="app.room({roomId: (room.id)})" ng-repeat="room in roomsData">
                <img ng-src="{{room.thump}}">
                <h2>{{room.name}}</h2>
                <i class="icon ion-arrow-right-c tiderCardHeaderColor"></i>
            </a>
        </div>
    </ion-content>    
</ion-view>