<ion-view class="tinder-cards-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>            
    <ion-nav-title>
        <span class="headerTitle">Πληροφορίες</span>
    </ion-nav-title>
    <ion-content>
        <div class="item item-image">
            <img ng-src="img/info.jpg">
        </div>
        <div class="item item-text-wrap">
            <p class="justifiedParagraph">
                Το πολυτελές συγκρότημα “Dion Palace Beauty & Spa Resort”, πλήρως ανακαινισμένο, με νέα διεύθυνση, αποτελεί κορυφαία επιλογή για Έλληνες και ξένους επισκέπτες που επιθυμούν διακοπές δίπλα στη θάλασσα, σε υπέροχο φυσικό περιβάλλον κάτω από τον μυθικό Όλυμπο, με άριστη ποιότητα διαμονής.
            </p>
            <p class="justifiedParagraph">    
                Οι εγκαταστάσεις και οι υπηρεσίες του είναι υψηλού επιπέδου.
            </p>
            <p class="justifiedParagraph">    
                Η λειτουργία του SPA, αποτελεί μοναδική επιλογή για χαλάρωση, αναζωογόνηση, ομορφιά, ακόμη και με ιατρικές υπηρεσίες ανάπλασης! Προσφέρεται για διακοπές, συνέδρια και επιχειρηματικές συσκέψεις, δεξιώσεις γάμου και άλλες κοινωνικές εκδηλώσεις σε συνδυασμό και με διαμονή.
            </p>
            <br>
            <p><strong>Είμαστε εδώ, για να δικαιώσουμε την επιλογή σας!</strong></p>
            <br>
            <p>
                <img ng-src="img/hotel-sign1.png">
            </p>
        </div>        
    </ion-content>
</ion-view>