<ion-view class="post-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>        
    <ion-nav-title>
        <span class="headerTitle">Φωτογραφίες</span>
    </ion-nav-title>    
    <ion-content>
        <ion-slide-box show-pager="false" does-continue="true">
            <ion-slide ng-repeat="image in galleryData">
                <div class="item item-divider"> 
                    <strong class="tiderCardHeaderColor">{{image.header}}</strong>                       
                </div>
                <div class="item item-image">
                    <img ng-src="img/gallery/{{image.image}}.jpg">
                </div>
                <div class="item item-text-wrap" ng-if="image.text">
                    <span class="tiderCardHeaderColor">{{image.text}}</span>
                </div>
                <a ui-sref="{{image.page}}" class="item item-icon-right" ng-if='image.page'>
                    <i class="icon ion-arrow-right-c tiderCardHeaderColor"></i>
                    Λεπτομέρειες
                </a> 
                <div class="item item-icon-left item-icon-right">
                    <i class="icon ion-arrow-left-c tiderCardHeaderColor"></i>
                    <p>Σύρετε για υπόλοιπες φωτογραφίες</p>
                    <i class="icon ion-arrow-right-c tiderCardHeaderColor"></i>
                </div>                
            </ion-slide>
        </ion-slide-box> 
    </ion-content>
</ion-view>