<ion-view class="wordpress-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span class="headerTitle">Υπηρεσίες</span>
    </ion-nav-title>
    <ion-content>
        <div class="list layouts-functionalities">
            <a class="item item-thumbnail-left item-icon-right" ui-sref="app.service({serviceId:post.id})" ng-repeat="post in posts">
                <img src="img/services/{{post.thump}}.jpg">
                <h2>{{post.service}}</h2>
                <p>{{post.header}}</p>
                <i class="icon ion-arrow-right-c tiderCardHeaderColor"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
