<ion-view class="post-view">
    <ion-nav-title>
        <span class="headerTitle">{{serviceData.service}}</span>
    </ion-nav-title>
    <ion-content>
        <div class="item item-image">
            <img ng-src="img/services/{{serviceData.images[0]}}.jpg">
        </div>

        <div class="item item-text-wrap">
            <p class="justifiedParagraph">
                {{serviceData.text}}
            </p>
        </div>
        
        <div class="post-heading item item-divider listDivider" ng-if="serviceData.phone || serviceData.page || serviceData.link">
            Απευθείας Υπηρεσίες
        </div>        
        <a href="tel:{{serviceData.phone}}" class="item icon-right" ng-if='serviceData.phone'>
            <i class="icon ion-ios-telephone tiderCardHeaderColor"></i>
            Τηλέφωνο
        </a>
        <a href="#" onclick="window.open('https://dionpalaceluxuryspa.reserve-online.net/', '_blank', 'location=yes');" class="item icon-right" ng-if='serviceData.link'>
            <i class="icon ion-android-checkbox-outline tiderCardHeaderColor"></i>
            Κράτηση
        </a>   
        <a ui-sref="{{serviceData.page}}" class="item icon-right" ng-if='serviceData.page'>
            <i class="icon ion-android-arrow-forward tiderCardHeaderColor"></i>
            Αναλυτικά
        </a>           
    </ion-content>
</ion-view>