<ion-view class="post-view">
    <ion-nav-title>
        <span class="headerTitle">{{restaurantsBarsData.name}}</span>
    </ion-nav-title>    
    <ion-content>
        <div class="item item-image">
            <img ng-src="img/restaurants/{{restaurantsBarsData.images}}.jpg">
        </div>
        <div class="item item-text-wrap">
            <p class="justifiedParagraph">
                {{restaurantsBarsData.text}}
            </p>
        </div>
        <div class="post-heading item item-divider listDivider" ng-if="restaurantsBarsData.serveTime || restaurantsBarsData.open">
            Πρόγραμμα
        </div>
        <div class="item" ng-if="restaurantsBarsData.open">
            <p><strong>Ανοικτό</strong></p>
            <p class="justifiedParagraph">    
                {{restaurantsBarsData.open}}
            </p>     
        </div>        
        <div class="item" ng-if="restaurantsBarsData.serveTime">
            <p><strong>Πρωί</strong></p>
            <p class="justifiedParagraph">    
                {{restaurantsBarsData.serveTime.breakfast}}
            </p>   
            <p><strong>Μεσημέρι</strong></p>
            <p class="justifiedParagraph">    
                {{restaurantsBarsData.serveTime.lunch}}
            </p>   
            <p><strong>Απόγευμα</strong></p>
            <p class="justifiedParagraph">    
                {{restaurantsBarsData.serveTime.enening}}
            </p>   
        </div>
        <div class="post-heading item item-divider listDivider">
            Υπηρεσίες
        </div>        
        <a href="tel:{{activityData.phone}}" class="item icon-right">
            <i class="ion-ios-telephone tiderCardHeaderColor"></i>
            Τηλέφωνο
        </a>
        <!--a href="#" onclick="" class="item icon-right">
            <i class="ion-android-checkbox-outline tiderCardHeaderColor"></i>
            Κράτηση
        </a-->  
    </ion-content>
</ion-view>
