<ion-view class="post-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>    
    <ion-nav-title>
        <span class="headerTitle">Le Spa</span>
    </ion-nav-title>
    <ion-content>
        <div class="item item-image">
            <ion-slide-box show-pager="true">
                <ion-slide ng-repeat="i in [1,2,3,4,5,6,7]">
                    <img ng-src="img/le_spa/lespa_{{i}}.jpg">
                </ion-slide>
            </ion-slide-box>
        </div>
        <div class="item item-text-wrap">
            <p class="justifiedParagraph">
                Το “LE SPA” είναι ένα από τα πιο σύγχρονα Κέντρα Ομορφιάς στην Ελλάδα και από τα μεγαλύτερα της Β. Ελλάδας, το οποίο λειτουργεί στον χώρο του “Dion Palace”, με εξωτερική και εσωτερική από το ξενοδοχείο πρόσβαση.
            </p>
            <p class="justifiedParagraph">    
                Προσφέρει στους πελάτες του ξενοδοχείου, την προνομιακή χρήση της μεγάλης, εσωτερικής, θερμαινόμενης πισίνας με jacuzzi και υδροκαταρράκτες μασάζ.
            </p>
            <p class="justifiedParagraph">    
                Αποτελεί ιδανική επιλογή για διακοπές με μασάζ χαλαρωτικού & θεραπευτικού χαρακτήρα, περιποιήσεις προσώπου και σώματος με τον πλέον σύγχρονο εξοπλισμό, αλλά και μοναδικές υπηρεσίες ανάπλασης υπό την επίβλεψη διακεκριμένου πλαστικού χειρουργού!
            </p>
            <br>
            <p><strong>Για τον άνδρα</strong></p>
            <p class="justifiedParagraph">    
                Για το πιο ξεχωριστό bαchelor party, σε συνδυασμό με μασάζ, αναζωογόνηση, ειδική περιποίηση του γαμπρού και εκλεκτών φίλων του, πριν από την τελετή του γάμου!
            </p>            
            <br>
            <p><strong>Για τη γυναίκα</strong></p>
            <p class="justifiedParagraph">    
                Για τη διασκέδαση της νύφης με τις επιστήθιες φίλες της πριν από την τελετή, σε συνδυασμό με μοναδικές υπηρεσίες ομορφιάς, χαλάρωσης, περιποίησης, προσώπου και σώματος, ώστε να λάμπει στην εκκλησία!
            </p>                
            <br>
            <p><strong>Για τη γυναικεία συντροφιά</strong></p>
            <p class="justifiedParagraph">    
                Όσες το απόλαυσαν υποστηρίζουν, ότι τίποτε δεν αξίζει περισσότερο, από μια εκδρομή με τις φίλες, παράλληλα με ειδικές θεραπείες ομορφιάς, κοκτέιλ δίπλα στην πισίνα, θεραπευτικά και χαλαρωτικά μασάζ!… Και όλα αυτά, χωρίς καμία μετακίνηση!
            </p>                
            <br>
            <p>
                <img ng-src="img/hotel-sign1.png">
            </p>
        </div>
		<div class="post-heading item item-divider listDivider">
            Υπηρεσίες
        </div>       
        <a href="tel:23520.61431" class="item icon-right">
			<i class="icon ion-ios-telephone tiderCardHeaderColor"></i>
            Τηλέφωνο
        </a>
        <a href="#" onclick="window.open('https://dionpalaceluxuryspa.reserve-online.net/', '_blank', 'location=yes');" class="item icon-right">
            <i class="icon ion-android-checkbox-outline tiderCardHeaderColor"></i>
			Κράτηση
        </a>         
    </ion-content>
</ion-view>