<ion-view class="post-view">
    <ion-nav-title>
        <span class="headerTitle">{{activityData.type}}</span>
    </ion-nav-title>
    <ion-content>
        <div class="item item-image">
            <img ng-src="img/services/{{activityData.images[0]}}.jpg">
        </div>
        <div class="item item-text-wrap">
            <p class="justifiedParagraph">
                {{activityData.text}}
            </p>
        </div>
        <div class="post-heading item item-divider listDivider" ng-if="activityData.phone || activityData.page || activityData.link">
            Απευθείας Υπηρεσίες
        </div>       	
        <a href="tel:{{activityData.phone}}" class="item icon-right " ng-if='activityData.phone'>
            <i class="ion-ios-telephone tiderCardHeaderColor"></i>
            Τηλέφωνο
        </a>
        <a href="#" onclick="window.open('https://dionpalaceluxuryspa.reserve-online.net/', '_blank', 'location=yes');" class="item icon-right" ng-if='activityData.link'>
            <i class="ion-android-checkbox-outline tiderCardHeaderColor"></i>
            Κράτηση
        </a>   
        <a ui-sref="{{activityData.page}}" class="item icon-right" ng-if='activityData.page'>
            <i class="ion-android-arrow-forward tiderCardHeaderColor"></i>
            Αναλυτικά
        </a>           
    </ion-content>
</ion-view>