<ion-view class="contact-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
      <span class="headerTitle">Επικοινωνία</span>
  </ion-nav-title>
  <ion-content>
    <ul class="list">
        <div class="item item-icon-left item-icon-right">
            <i class="icon icon-right ion-android-pin tiderCardHeaderColor"></i>
            <div>
                <span class="title">Νομός Πιερίας, Λιτόχωρο, Γρίτσα</span>
                <p class="description">Τ.Κ. 60 200, Ελλάδα</p>
            </div>
        </div>        
        <a class="item item-icon-left item-icon-right" href="tel:2352061431">
            <i class="icon icon-right ion-ios-telephone tiderCardHeaderColor"></i>
            <div>
                <span class="title">Τηλέφωνο</span>
                <p class="description">2352061431</p>
            </div>
        </a>
        <a class="item item-icon-left item-icon-right" href="mailto:info@dionpalace.com">
            <i class="icon icon-right ion-email tiderCardHeaderColor"></i>
            <div>
                <span class="title">E-mail</span>
                <p class="description">mailto:info@dionpalace.com</p>
            </div>
        </a> 
        <div class="item item-icon-left item-icon-right">
            <i class="icon icon-right ion-printer tiderCardHeaderColor"></i>
            <div>
                <span class="title">Fax</span>
                <p class="description">(+30)23520.61435</p>
            </div>
        </div>  
        <a class="item item-icon-left item-icon-right" href="http://dionpalace.com/">
            <i class="icon ion-android-globe tiderCardHeaderColor"></i>
            <div>
                <span class="title">Web</span>
                <p class="description">www.dionpalace.com</p>
            </div>
        </a>         
        <a class="item item-icon-left item-icon-right" href="#" onclick="window.open('https://dionpalaceluxuryspa.reserve-online.net/', '_blank', 'location=yes');">
            <i class="icon icon-right ion-android-checkbox-outline tiderCardHeaderColor"></i>
            <div>
                <span class="title">Κράτηση</span>
            </div>
        </a>        
    </ul>
  </ion-content>
</ion-view>
