<ion-view class="maps-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>    
    <ion-nav-title>
        <span class="headerTitle">Χάρτης</span>
    </ion-nav-title>
    <ion-content>
        <div id="map" data-tap-disabled="true"></div>
        <ion-scroll id="directions-panel-scroll">
            <div id="directions-panel"></div>
        </ion-scroll>
    </ion-content>    
    <ion-footer-bar class="bar-dark">
        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Διαδρομή προς το ξενοδοχείο</a>
    </ion-footer-bar>
</ion-view>
