<ion-view class="layouts-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span class="headerTitle">Εστιατόρια | Bar</span>
  </ion-nav-title>
  <ion-content>
    <div class="list layouts-functionalities">
        <a class="item item-icon-left item-icon-right" ui-sref="app.restaurant({restaurantId:rd.id})" ng-repeat="rd in restaurantsBarsData">
        <i class="icon {{rd.icon}}"></i>
        <div>
          <span class="title">{{rd.name}}</span>
          <p class="description">{{rd.description}}</p>
        </div>
        <i class="icon ion-arrow-right-c tiderCardHeaderColor"></i>
      </a>
    </div>      
  </ion-content>
</ion-view>
