<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content class="post-size-14px">
        <ion-nav-bar class="bar app-top-bar">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <a nav-clear menu-close ui-sref="app.home">
                    <img src="img/logo-small.png"/>
                </a>               
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
        <ion-content>
            <ion-list>
                <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.home">
                    <img ng-src="img/logo-1.png">
                    <h2 class="greeting">Dion</h2>
                    <p class="message">Palace</p>
                </ion-item>
                <!--ion-item class="item-icon-left" nav-clear menu-close href="#" onclick="window.open('https://dionpalaceluxuryspa.reserve-online.net/', '_blank', 'location=yes');"-->
                <ion-item class="item-icon-left" nav-clear menu-close href="#" onclick="alert('Η λειτουργία κρατήσεων δεν είναι διαθέσιμη στη demo εφαρμογή. Σε κάθε  app προσαρμόζεται το σύστημα e-booking του ξενοδοχείου')">
                    <i class="icon ion-ios-moon-outline tiderCardHeaderColor"></i>
                    <h2 class="menu-text">Κρατήσεις</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.rooms">
                    <i class="icon ion-pricetag tiderCardHeaderColor"></i>
                    <h2 class="menu-text">Δωμάτια</h2>
                </ion-item>          
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.services">
                    <i class="icon ion-android-done-all tiderCardHeaderColor"></i>
                    <h2 class="menu-text">Υπηρεσίες</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.activities">
                    <i class="icon ion-android-bicycle tiderCardHeaderColor"></i>
                    <h2 class="menu-text">Δραστηριότητες</h2>
                </ion-item>          
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.restaurants">
                    <i class="icon ion-android-restaurant tiderCardHeaderColor"></i>
                    <h2 class="menu-text">Εστιατόρια | Bar</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.lespa">
                    <i class="icon ion-android-star tiderCardHeaderColor"></i>
                    <h2 class="menu-text">Le Spa</h2>
                </ion-item>                
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.gallery">
                    <i class="icon ion-ios-camera tiderCardHeaderColor"></i>
                    <h2 class="menu-text">Φωτογραφίες</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.contact">
                    <i class="icon ion-ios-contact tiderCardHeaderColor"></i>
                    <h2 class="menu-text">Επικοινωνία</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.maps">
                    <i class="icon ion-ios-location tiderCardHeaderColor"></i>
                    <h2 class="menu-text">Βρείτε μας</h2>
                </ion-item>          
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.informations">
                    <i class="icon ion-information-circled tiderCardHeaderColor"></i>
                    <h2 class="menu-text">Πληροφορίες</h2>
                </ion-item>   
                <ion-item nav-clear menu-close ui-sref="app">
                    <a href="#">
                        <h2 class="menu-text iservicesMenu">Developed by:</h2>
                        <img src="img/iservices-logo-376.png"/>
                    </a>                     
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
