.scroll-content{
 background: url('../img/bg-3.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inAppBrowserWrap {
    margin-top: 50px;
  background-color: rgba(0,0,0,0.75);
  color: rgba(235,235,235,1.0);
}
.inAppBrowserWrap menu {
  overflow: auto;
  list-style-type: none;
  padding-left: 0;
}
.inAppBrowserWrap menu li {
  font-size: 25px;
  height: 25px;
  float: left;
  margin: 0 10px;
  padding: 3px 10px;
  text-decoration: none;
  color: #ccc;
  display: block;
  background: rgba(30,30,30,0.50);
}
.inAppBrowserWrap menu li.disabled {
    color: #777;
}

.tiderCardHeaderColor {
    color: #bca474;
}

.justifiedParagraph{
    text-align: justify; 
    text-justify: inter-word;
}

.iservicesMenu{
    font-size: smaller !important;
    padding-bottom: 3px;
}

.headerTitle {
  color: #F0EEEE !important;
  font-weight: 600;
}

.tiderCardTitlePadding{
    padding-left: 5px;
    padding-bottom: 5px;
}

.listDivider {
  background-color: rgb(188, 164, 116);
  color: rgb(239, 237, 237);
  padding-bottom: 6px !important;
}

#map {
  width: 100%;
  height: 100%;
}

#directions-panel-scroll{
    background-color: aliceblue;
    width: 100%;
    height: 0%;
}

#directions-panel {

}

.scroll {
  height: 100%;
}